<section>
    <h2>There are {{restaurants.length}} restaurants</h2>
    {{#each restaurants}}
        <article>
            <img src="{{image}}"/>
            <h2>{{name}}</h2>
        </article>
    {{/each}}
</section>